@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

* {
    box-sizing: border-box
}

:before,
:after {
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: open sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    background: #000;
    margin: 0
}

a {
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto
}

.hidden {
    display: none !important
}

.iframe-wrapper {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto
}

.bottom-switcher .iframe-wrapper {
    padding-top: 0;
    padding-bottom: 50px
}

.iframe-wrapper .demo-iframe {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    background: #fff
}

.switcher-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #202020;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.switcher-bar:after {
    clear: both
}

.bottom-switcher .switcher-bar {
    top: auto;
    bottom: 0;
    border-bottom: 0;
    border-top: 1px solid #000
}

.switcher-bar {
    border-bottom: 1px solid rgba(255, 255, 255, .102)
}

.switcher-bar .logo-aria {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center
}

.switcher-bar .logo {
    display: inline-block;
    padding: 5px 20px 5px 30px;
    border-right: 1px solid rgba(255, 255, 255, .102);
    line-height: 50px
}

.switcher-bar .logo svg {
    margin-bottom: -6px
}

.logo-fill {
    fill: #fff
}

.switcher-bar .logo img {
    display: block;
    width: auto;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.switcher-bar .logo:hover {
    color: #82b440
}

.switcher-bar .logo:hover img {
    opacity: .75
}

@media(max-width:767px) {
    .switcher-bar .logo {
        border-right: 0
    }
}

.switcher-bar .remove-frame-btn {
    color: #fff;
    line-height: 50px;
    border-left: 1px solid #363636;
    padding: 0 30px 0 20px;
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.switcher-bar .remove-frame-btn span {
    margin-left: 20px
}

.switcher-bar .remove-frame-btn:hover {
    color: #fff
}

@media(max-width:991px) {
    .switcher-bar .remove-frame-btn span {
        display: none
    }
    .switcher-bar .remove-frame-btn .fa {
        margin-right: 0
    }
}

.switcher-bar .buy-now {
    border-left: 1px solid #363636;
    padding: 10px 20px
}

.switcher-bar .buy-now.buy-now-btn {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #fff
}

.switcher-bar .buy-now.buy-now-btn svg {
    margin-right: 20px
}

.switcher-bar .buy-now .buy-now-btn:hover {
    background-color: #74a139;
    border-bottom: 2px solid #678e33
}

.switcher-bar .buy-now .buy-now-btn .fa {
    margin-right: 10px
}

.icon-cart {
    fill: #fff
}

.icon-times {
    fill: #fff
}

.switcher-bar .viewports {
    display: -webkit-box;
    display: flex;
    list-style: none;
    padding: 0 20px;
    margin: 0
}

.switcher-bar .viewports li {
    margin-right: 20px
}

.switcher-bar .viewports li:last-child {
    margin-right: 0
}

.switcher-bar .viewports li a {
    display: block;
    line-height: 60px;
    padding: 0 5px
}

.switcher-bar .viewports li a:hover {
    color: #fff
}

.switcher-bar .viewports li.active a {
    color: #82b440;
    cursor: default
}

.viewports-aria .viewports li a svg {
    width: 90%
}

.viewports-aria .viewports li a svg .icon-desktop,
.viewports-aria .viewports li a svg .icon-tab,
.viewports-aria .viewports li a svg .icon-mobile {
    fill: rgba(255, 255, 255, .5)
}

.viewports-aria .viewports li.active a svg .icon-desktop,
.viewports-aria .viewports li.active a svg .icon-tab,
.viewports-aria .viewports li.active a svg .icon-mobile {
    fill: #fff
}

@media(max-width:767px) {
    .switcher-bar .viewports {
        display: none
    }
}

.switcher-bar .items-toggle-btn {
    padding: 0 50px 0 20px;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background-image: url(../img/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    border-right: 1px solid #363636;
    background-size: 50px 8px
}

.switcher-bar .items-toggle-btn span {
    position: relative;
    top: -1px;
    background-color: rgba(124, 77, 199, .8);
    border-radius: 3px;
    padding: 3px 10px;
    margin-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.buttons-aria {
    display: -webkit-box;
    display: flex
}

.bottom-switcher .switcher-bar .items-toggle-btn:after {
    content: '\f077'
}

@media(max-width:767px) {
    .switcher-bar .items-toggle-btn {
        display: none
    }
}

.icon-arrow-left {
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    display: block
}

.icon-arrow-right {
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    display: block
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    touch-action: pan-y
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-wrapper:before,
.owl-carousel .owl-wrapper:after {
    content: " ";
    display: table
}

.owl-carousel .owl-wrapper:after {
    clear: both
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item {
    float: left
}

.owl-carousel .owl-controls {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.switcher-carousel {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: #2c2c2c;
    border-bottom: 1px solid #232323;
    z-index: 999990;
    padding: 20px 60px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.bottom-switcher .switcher-carousel {
    top: auto;
    bottom: 50px;
    border-bottom: 0;
    border-top: 1px solid #232323
}

.switcher-carousel.active {
    visibility: visible;
    opacity: 1
}

.switcher-carousel .owl-prev,
.switcher-carousel .owl-next {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    width: 60px;
    line-height: 60px;
    font-size: 28px;
    text-align: center;
    color: #fff;
    margin-top: -30px;
    z-index: 999999;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.switcher-carousel .owl-prev:hover,
.switcher-carousel .owl-next:hover {
    color: #82b440
}

.switcher-carousel .owl-prev.disabled,
.switcher-carousel .owl-next.disabled {
    cursor: default;
    opacity: .5;
    color: #fff
}

.switcher-carousel .owl-prev {
    left: -60px
}

.switcher-carousel .owl-next {
    right: -60px
}

.switcher-carousel .carousel-wrapper {
    position: relative;
    padding: 0;
    margin: 0
}

.switcher-carousel .carousel-wrapper:before,
.switcher-carousel .carousel-wrapper:after {
    content: " ";
    display: table
}

.switcher-carousel .carousel-wrapper:after {
    clear: both
}

.switcher-carousel .carousel-wrapper .item {
    position: relative;
    display: block;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px
}

@media(max-width:1200px) {
    .switcher-carousel .carousel-wrapper .item {
        padding-left: 30px;
        padding-right: 30px
    }
}

.switcher-carousel .header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px
}

.switcher-carousel .header .badge {
    background: #424242;
    border-radius: 3px;
    padding: 0 12px;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 15px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.switcher-carousel .footer {
    text-align: center;
    margin-top: 15px
}

.switcher-carousel .carousel-wrapper .item img {
    display: block;
    border-radius: 3px
}

.switcher-carousel .carousel-wrapper .item .title {
    display: block;
    background: #fff;
    color: #232323;
    width: 100%;
    overflow: hidden;
    padding: 3px 15px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    white-space: nowrap;
    border-radius: 0 0 3px 3px
}

.switcher-carousel .carousel-wrapper .item .badge {
    top: 5px;
    right: 5px
}

@media(max-width:767px) {
    .switcher-carousel {
        display: none
    }
}